
.logo a {
    display: block;
    width: 152px;
    height: 60px;
    font-size: 0;
    background: url(http://www.poscomtech.com/resources/images/common/site-logo-w.svg) center no-repeat;
}

/*햄버거버튼 */
.navbar-toggler {
    padding: .75rem;
}


#navbarNav .d2{
    opacity: 0;
    visibility: hidden;
}


#navbarNav .nav-item > a{ color: white}